doctype html
html(ng-app="snoteapp", lang="en")
	head
		title Hello
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="/node_modules/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
		link(href="/views/css/style.css", rel="stylesheet")
body(ng-controller="sna_ctrl")
	h1 Hello
	
	div
		p {{1+1}}
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
	script(src="/node_modules/bootstrap/dist/js/bootstrap.js")
	script(src="/node_modules/angular/angular.js")
	script(src="/views/js/snoteapp.js")
	script(src="/views/js/dataobj.js")
