doctype html
html(ng-app="snoteapp", lang="en", ng-cloak)
	head
		title sNoteApp
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="/node_modules/bootstrap/dist/css/bootstrap.css", rel="stylesheet")
		link(href="/views/css/style.css", rel="stylesheet")
body(ng-controller="sna_ctrl")
	nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
		button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#exCollapsingNavbar2') 
			| &#9776; sNoteApp
		div#exCollapsingNavbar2.collapse.navbar-toggleable-xs
			a.navbar-brand(class="container-fluid responsive-utilities-test visible-on", href='https://snoteapp.herokuapp.com') 
				span.hidden-xs-down.not-visible sNoteApp
			button.pull-xs-right.btn.btn-danger.btn-md(type='button', data-toggle='modal', data-target='#myModal')
				| +
			form.form-inline#navForm
				input.form-control(type='search', placeholder='Search in notes', ng-model="data")

	#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-body
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') x
					h4#myModalLabel.modal-title Create New Note
					form(class="form-horizontal", role="form")
						input.form-control(ng-model="ptitle", type="text", placeholder="title") 
						textarea.form-control(ng-model="ptext", type="text", placeholder="text")
				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					button.btn.btn-danger(type='button', data-dismiss='modal', ng-click="post(ptitle, ptext)") Save Note

	.flex-container.container
		div(class="col-xs-12 col-sm-6 col-md-4", ng-repeat="i in obj | filter : data")
			span(snadir)
			span(style="display:none;", class="objId") {{i._id}}
			h3 {{i.title}}
			p {{i.text}}
			
	nav.navbar.navbar-fixed-bottom.navbar-dark.bg-inverse
		span#footer Made by 
			a(href="http://satoru.fr/", style="color:#d9534f;") Satoru HEMMI
			|  with node.js | express | mongodb | angularJs
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
	script(src="/node_modules/tether/dist/js/tether.js")
	script(src="/node_modules/bootstrap/dist/js/bootstrap.js")
	script(src="/node_modules/angular/angular.js")
	script(src="/views/js/snoteapp.js")
	script(src="/views/js/dataobj.js")
	script(src="/views/js/directives.js")
