*::selection{
	background-color: #d9534f;
}
body{
	padding-top: 70px;
}
nav{
	text-align: center;
	border-top :2px solid #d9534f;
}
nav:last-child{
	margin-right: 0px;
	padding-right :-16px;
}
nav a:hover{	
	color: #d9534f;	
}
.thumbnail{
	word-wrap: break-word;
	min-height:250px;
	border : 1px solid grey;
	border-radius: 3px;
}
#navForm{
	margin-right: 115px;
}
#navForm input{
	text-align: center;
}
#navForm input:focus{
	border-color: #d9534f;
}
#footer{
	font-size: 0.8em;
	float: right;
}
/*
	 Flex 
*/
.flex-container{
	display:flex;
	flex-flow: row wrap;
	align-content:flex-start;
}
.flex-container > *{
	padding: 10px;
	word-wrap: break-word;
}
.flex-container h3{
	border-top: 1px solid red;	
}
.btn-edit{
	float: right;
}
.btn-edit:hover{
	color: #d9534f;	
	text-decoration: underline;
	cursor:pointer;
}
.btn-delete:hover{
	color: #d9534f;	
	text-decoration: underline;
	cursor: pointer;
}
.btn-delete{
	font-size: 1.2em;
	margin-top: -3px;
	float: right;
	margin-left: 10px;
}
